body {
    background-image: url("https://wallpapercrafter.com/desktop/421506-Artistic-Vaporwave-Phone-Wallpaper.jpg");
    font-family: 'Segoe UI';
}
#header {
    margin-top: 150px;
    font-size: 30px;
    text-align: center;
    
}
#header h3 {
    padding: 0px;
    font-size: 15px;
}
#personal-info {
    text-align: center;
    padding: 25px;
}
#personal-info img {
    border-radius: 50%;
    padding: 12px;
}