body {
    background-image: url("https://wallpapercrafter.com/desktop/421506-Artistic-Vaporwave-Phone-Wallpaper.jpg");
    font-family: 'Segoe UI';
}
#header {
    font-size: '120px';
    text-align: center;
}
#personal-info {
    text-align: center;
    padding: "50px";
    background-color:rgba(127, 255, 212, 0.473);
}
