body {
    background: blanchedalmond;
}
#header {
    font-size: '30px';
    font: 'normal normal normal 22px/1.41em raleway,sans-serif';
    text-align: center;
}
#personal-info {
    text-align: center;
    padding-top: "25px"
}
